BACKUP_NAME=
DB_BACKEND=
DB_DB=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DUMP_ARGS=
ENC_TYPE=
ENC_PASS=
CRON_TIME_L1=
CRON_TIME_L2=
MAX_BACKUPS_L2=
CRON_TIME_L3=
MAX_BACKUPS_L3=
REMOTE=
REMOTE_PASS=
REMOTE_OPTIONS=